<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
       <context:annotation-config/>
       <context:component-scan base-package="com.nedvigimost.*"/>

       <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
              <property name="driverClassName" value="com.mysql.jdbc.Driver" />
              <property name="url" value="jdbc:mysql://localhost:3306/nedvigimost" />
              <property name="username" value="root" />
              <property name="password" value="root" />
              <property name="initialSize" value="5" />
              <property name="maxTotal" value="10" />
       </bean>

       <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
              <property name="dataSource" ref="dataSource" />
              <property name="packagesToScan" value="com.nedvigimost.vo"/>
              <property name="hibernateProperties">
                     <props>
                            <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                            <prop key="hibernate.show_sql">true</prop>
                            <prop key="hibernate.hbm2ddl.auto">update</prop>
                     </props>
              </property>
       </bean>

       <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>

       <bean id= "transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
              <property name="sessionFactory">
                     <ref bean="sessionFactory"/>
              </property>
       </bean>

       <tx:annotation-driven transaction-manager="transactionManager"/>

       <!--
       <bean id="buildingDao" class="com.nedvigimost.dao.impl.HibernateBuildingDAO"/>
       <bean id="orderDAO" class="com.nedvigimost.dao.impl.HibernateOrderDAO"/>
       <bean id="personDAO" class="com.nedvigimost.dao.impl.HibernatePersonDAO"/>
       <bean id="photoDAO" class="com.nedvigimost.dao.impl.HibernatePhotoDAO"/>
       <bean id="statisticsDAO" class="com.nedvigimost.dao.impl.HibernateStatisticsDAO"/>
       <bean id="userDAO" class="com.nedvigimost.dao.impl.HibernateUserDAO"/>
       <bean id="waitingHistoryDAO" class="com.nedvigimost.dao.impl.HibernateWaitingHistoryDAO"/>


       <bean id="buildingService" class="com.nedvigimost.services.impl.BuildingService"/>
       <bean id="orderService" class="com.nedvigimost.services.impl.OrderService"/>
       <bean id="personService" class="com.nedvigimost.services.impl.PersonService"/>
       <bean id="photoService" class="com.nedvigimost.services.impl.PhotoService"/>
       <bean id="statisticsService" class="com.nedvigimost.services.impl.StatisticsService"/>
       <bean id="userService" class="com.nedvigimost.services.impl.UserService"/>
       <bean id="waitingHistoryService" class="com.nedvigimost.services.impl.WaitingHistoryService"/>
-->



</beans>